body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
  
}
.home{
    background: url(software-development-services.jpeg); 
    background-size: cover;
    width: auto;
    height: auto;
    padding: 20px;
}
h1{
    margin: 0 0 30px;
    padding: 30px 20px;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px  rgb(0, 0, 0, 0.8);
}
.box2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    width: 80%;
    padding: 40px 20px 0 40px;
    background: rgb(0, 0, 0, 0.8);
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}
.box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 400px;
    padding: 40px;
    background: rgb(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}
.box .form{
display: flex;
flex-direction: column;
gap: 25px;
}

.box2 .contacts{
    display: flex;
    flex-direction: column;
    gap: 25px;
    }

.box .form.drop-off,
.box.drop-offForm .form.pick-up{
    display: none;
}

.box.drop-offForm .form.drop-off{
display: flex;
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box p{
     margin: 0 0 30px;
    padding: 6px;
    color: grey;
    font-size: 14px;
    text-align: center;
}

.box2 h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-shadow: 2px 2px 2px  rgb(0, 0, 0, 0.8);
    text-align: center;
}
.box2 p{
    margin: 0 0 30px;
   padding: 6px;
   color: grey;
   font-size: 14px;
   text-align: center;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .form .inputBox label{
    position: absolute;
    left: 0;
    padding: 8px;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.box .form .inputBox input:valid ~ label,
.box .form .inputBox input:focus ~ label{
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: rgb(0, 0, 0, 0.8);
    transform: translateX(15px) translateY(-7px);
    font-size: 0.7em;
    padding: 2px;
    border-radius: 8px;
    letter-spacing: 0.2em;

}

.box .form .inputBox textarea:valid ~ label,
.box .form .inputBox textarea:focus ~ label{
    color: #00dfc4;
    border: 1px solid #00dfc4;
    background: rgb(0, 0, 0, 0.8);
    transform: translateX(15px) translateY(-7px);
    font-size: 0.7em;
    padding: 2px;
    border-radius: 8px;
    letter-spacing: 0.2em;

}
.box2 .container{
padding: 0;
}

.box2 a{
    color: #fff;
    transition: 0.5s;    
}

.about{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about img{
    margin-right: 10px;
    width: 270px;
    height: auto;
}

.about p sup{
    font-size: 9px;
}
.box2 a.was:hover{
    color: rgb(6, 183, 56);
}
.box2 a.tel:hover{
    color: rgb(12, 189, 216);
}
.box2 a.mail:hover{
    color: rgb(215, 107, 13);
}
.box a{
    color: #fff;
    transition: 0.5s;
}
.box a:hover{
    color: blue;
}
.box .submit {
    text-align: center;
    padding: 4px;
    letter-spacing: 0.1em;
    
}
.box .submit input:hover{
    transition: 0.5s;
    letter-spacing: 0.15em;
    border-radius: 8px;
    background-color: #023342;
    color: #fff;
}

.footer{
    margin-top: 70px;
    background: url(3D-graphics-pattern-design.jpg);
    background-size: cover;
    width: auto;
    height: auto;
    padding: 1px; 
    display: block;
}

.footer img{
transform: scale(0.4);
margin: 0 auto;
display: block;
}

.icon-wrapper{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.container{
    display: flex;
    flex-direction: row;
   justify-content: center;
}

.counter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.counter {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: #4caf50;
}
.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Space between skills */
  }
  
  .skill-name {
    width: 150px; /* Fixed width for skill name */
    font-weight: bold;
    color: #e9dcdc;
  }
  
  .percentage {
    width: 50px; /* Fixed width for percentage */
    text-align: right;
    margin-right: 10px; /* Space between percentage and progress bar */
    color: grey;
  }
  
  .progress-bar {
    flex: 1; /* Takes the remaining space */
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%; /* Matches the height of the progress bar */
    background-color: #4caf50;
    width: 0; /* Initial width for animation */
    border-radius: 5px 0 0 5px;
    transition: width 0.5s ease-in-out; /* Smooth animation */
  }