.box2 .contacts{
    display: flex;
    flex-direction: column;
    gap: 25px;
    }
.footer{
    margin-top: 70px;
    background: url(3D-graphics-pattern-design.jpg);
    background-size: cover;
    width: auto;
    height: auto;
    padding: 1px; 
    display: block;
}

.footer img{
transform: scale(0.4);
margin: 0 auto;
display: block;
}

.icon-wrapper{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.containerx{
    display: flex;
    flex-direction: row;
   justify-content: center;
}

.counter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.counter {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  color: #4caf50;
}
.skill {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Space between skills */
  }
  
  .skill-name {
    width: 150px; /* Fixed width for skill name */
    font-weight: bold;
    color: #e9dcdc;
  }
  
  .percentage {
    width: 50px; /* Fixed width for percentage */
    text-align: right;
    margin-right: 10px; /* Space between percentage and progress bar */
    color: grey;
  }
  
  .progress-bar {
    flex: 1; /* Takes the remaining space */
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%; /* Matches the height of the progress bar */
    background-color: #4caf50;
    width: 0; /* Initial width for animation */
    border-radius: 5px 0 0 5px;
    transition: width 0.5s ease-in-out; /* Smooth animation */
  }
